
<div class="row">
	<div class="col-md-2">
		<div class="row">
			<div class="col-md-6">
				<div class="upvote review-vote" data-review-id="<%= review.id %>" data-user-id="<%= current_user.id %>"></div>
				<div class="downvote review-vote" data-review-id="<%= review.id %>" data-user-id="<%= current_user.id %>"></div>
			</div>
			<div class="col-md-6">
				<div class="upvotes" id="votes_id_<%=review.id%>"><%= review.vote_count %></div>
			</div>
		</div>
	</div>
	<div class="col-md-8">
		<%= review.review_comment %>
	</div>
	<div class="col-md-2">
		<%= review.created_at %>
	</div>
</div>
<hr>
