<div class="row">
	<div class="col-md-12">
		<h3><%= @movie.name %></h3>
	</div>
</div>

<div class="row light-border">
	<div class="col-md-3">
		<%= image_tag @movie.image.medium.url %>
	</div>
	<div class="col-md-9">
		<span> <b> Name: </b><%= @movie.name %> </span> <br>
		<span> <b> Director: </b><%= @movie.director %> </span> <br>
		<span> <b> Producer: </b><%= @movie.producer %> </span> <br>
		<span> <b> Released Date: </b><%= @movie.released_date %> </span> <br>
		<span> <b> Description: </b><%= @movie.description %> </span> <br>
	</div>
</div>
<div class="row light-border">
	<div class="col-md-12">
		Your Rating: 4/5
	</div>
	<div class="col-md-12" id="movie-review-box">
		<h3 class="text-center text-success">Review Comments</h3>
		<hr>
		<% @movie.user_reviews.each do |review| %>
			<%= render 'review_comments', review: review %>
		<% end %>	
	</div>
</div>

<div class="row light-border">
	<div class="col-md-10">
		<input type="text" class="form-control" id="user-comment" placeholder="Your Comments...">
	</div>
	<div class="col-md-2">
		<button class="btn btn-success" data-movie-id="<%= @movie.id %>" data-user-id="<%= current_user.id %>" id="submit-user-review">
			Post Comment
		</button>
	</div>	
</div>

<script type="text/javascript">
	var append_new_comment = function(append_data) {
		console.log(append_data);
		$("#movie-review-box").append(append_data);
	}

</script>
