<div class="row">
	<div class="col-md-12">
		<h3><%= @movie.name %></h3>
	</div>
</div>

<div class="row light-border">
	<div class="col-md-3">
		<%= image_tag @movie.image.medium.url %>
	</div>
	<div class="col-md-9">
		<span> <b> Name: </b><%= @movie.name %> </span> <br>
		<span> <b> Director: </b><%= @movie.director %> </span> <br>
		<span> <b> Producer: </b><%= @movie.producer %> </span> <br>
		<span> <b> Released Date: </b><%= @movie.released_date %> </span> <br>
		<span> <b> Description: </b><%= @movie.description %> </span> <br>
	</div>
</div>

<div class="row light-border">
	<div class="col-md-8">
		<div class="movie-star-rating" data-movie-id="<%= @movie.id %>" data-user-id="<%= current_user.id %>" data-user-rating="<%= @movie.get_current_user_rating current_user.id %>" data-auth-token="<%= current_user.auth_token %>">
		</div>
	</div>
	<div class="col-md-4" id="avg_rating">
		Average Rating: <%= @movie.get_avg_rating %>/5 
	</div>
	<div class="col-md-12" id="movie-review-box">
		<h3 class="text-center text-success">Review Comments</h3>
		<hr>
		<% @movie.user_reviews.each do |review| %>
			<%= render 'review_comments', review: review %>
		<% end %>	
	</div>
</div>

<div class="row light-border">
	<div class="col-md-10">
		<input type="text" class="form-control" id="user-comment" placeholder="Your Comments...">
	</div>
	<div class="col-md-2">
		<button class="btn btn-success" data-movie-id="<%= @movie.id %>" data-user-id="<%= current_user.id %>" data-auth-token="<%= current_user.auth_token %>" id="submit-user-review">
			Post Comment
		</button>
	</div>	
</div>
